.fa-regular {
    margin-left: 10px;
}

table {
    inset: 0;
    margin: 0;
    border-collapse: collapse;
    width: 100%;
}

tr {
    border-bottom: 1pt solid rgb(221, 218, 218);
    height: 2em;
}

tr .tr-icon {
    color: grey;
    width: 40px;
}

tr .tr-mail-adress {
    width: 220px;
}


tr .tr-mail-date {
    padding-left: 40px;
    width: 60px;
}